<link href="{$siteInfo['webFolder']}static/css/front/layout.css" rel="stylesheet" type="text/css">
<link href="{$siteInfo['webFolder']}static/css/front/front.css" rel="stylesheet" type="text/css"/>

<div id="alone_content" class="w980" style="height:608px;">
	<div>
		<div class="rb_top2" >
			<span style="line-height: 25px;margin: 0 0 0 10px;color:#ffffff;">{$folderName}</span>
		</div>
		<div class="rb_mid box"  style="height:532px;">
			<div class="w96" style="min-height:400px;">
				<div class="c1-body">
					<volist name="articles" id="vo">
					<div class="c1-bline" style="padding:10px 0;">
						<div class="f-left"><img src="{$siteInfo['webFolder']}static/img/head-mark5.gif" align="middle" class="img-vm" border="0"> &nbsp;

							<a href="{$siteInfo['webFolder']}article/article?id={$vo['id']}" title="{$vo['title']}" target="_blank">
								<span style="">{$vo['title']}</span>
							</a>
						</div>
						<div class="gray f-right">{$vo['updatetime']}</div>
						<div class="clear">
						</div>
					</div>
					</volist>
				</div>
			</div>
		</div>
	</div>
</div>
