<include file="Public/header" />
<style type="text/css">
	table.gridtable {
		font-family: verdana,arial,sans-serif;
		font-size:11px;
		color:#333333;
		border-width: 1px;
		border-color: #666666;
		border-collapse: collapse;
	}
	table.gridtable th {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #666666;
		background-color: #dedede;
	}
	table.gridtable td {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #666666;
		background-color: #ffffff;
	}
</style>

<div class="rightDiv">
	<div class="title">
		<a href="{$siteInfo['webFolder']}admin/articleAdd">增加新文章</a>
	</div>
	<table class="gridtable">
		<tr>
			<th width="25">序号</th>
			<th width="300">标题</th>
			<th width="70">作者</th>
			<th width="70">文章发布人</th>
			<th width="70">修改日期</th>
			<th width="70">提交日期</th>
			<th width="70">发布日期</th>
			<th width="70">最后审核人</th>
			<th width="70">审核日期</th>
			<th width="70">紧急重要度</th>
			<th width="120">栏目</th>
			<th width="150">可见用户组</th>
			<th width="50">文章状态</th>
			<th>操作</th>
		</tr>
		<volist name="articles" id="vo">
			<tr>
				<td width="25" align="center">
					{$vo['id']}
				</td>
				<td width="300" align="center">
					<a href="{$siteInfo['webFolder']}article/article?id={$vo['id']}" target="_blank">{$vo['title']}</a>
				</td>
				<td width="70" align="center">
					{$vo['author']}
				</td>
				<td width="70" align="center">
					{$userMapping[$vo['adder']]}
				</td>
				<td width="70" align="center">
					{$vo['updatetime']}
				</td>
				<td width="70" align="center">
					{$vo['submittime']}
				</td>
				<td width="70" align="center">
					{$vo['publishtime']}
				</td>
				<td width="70" align="center">
					{$userMapping[$vo['auditor']]}
				</td>
				<td width="70" align="center">
					{$vo['audittime']}
				</td>
				<td width="70" align="center">
					{$priorityMapping[$vo['priority']]}
				</td>
				<td width="120">
					<?php
						$folders = $vo['folders'];
						foreach($folders as $folder)
						{
							echo "<li>";
							echo $folderMapping[$folder['folder']];
							echo " ";
							echo "</li>";
						}
					?>
				</td>
				<td width="150">
					<?php
						$groups = $vo['groups'];
						foreach($groups as $group)
						{
							echo "<li>";
							echo $groupMapping[$group['group']];
							echo " ";
							echo "</li>";
						}
					?>
				</td>
				<td width="70" align="center">
					{$statusMapping[$vo['status']]}
				</td>
				<td width="110">
					<input type="hidden" class="id" value="{$vo['id']}" />
					<?php

						$currentUser = $_SESSION['userInfo']['id'];

						if($vo['auditor'] == $currentUser && $vo['status'] == 2){
							echo "<a href='javascript: void(0);' class='audit'>审核</a>";
						}

						if($vo['adder'] == $currentUser){
							switch($vo['status']){
								case 1:
									echo " <a href='javascript: void(0);' class='addaudit'>提交审核</a>";
									echo " <a href='javascript: void(0);' class='modify'>修改</a>";
									break;
								case 2:
									echo " <a href='javascript: void(0);' class='deleteaudit'>撤回</a>";
									break;
								case 3:
									echo " <a href='javascript: void(0);' class='deleteaudit'>撤回</a>";
									break;
							}
							echo " <a href='javascript: void(0);' class='delete'>删除</a>";
						}
						if($vo['status'] == 3 || $vo['status'] == 2){
							echo " <a href='javascript: void(0);' class='seeaudit'>审核历史</a>";
						}
					?>
				</td>
		</volist>
	</table>
	<div class="pagination">{$page}</div>
</div>

	<div id="auditDiv" class="popDiv">
		<form action="managearticle" method="post">
			<div id="rltDiv">
				<label for="rlt">审核结果:</label>
				<input type="radio" id="rlt0" name="rlt" value="0" />不通过
				<input type="radio" id="rlt1" name="rlt" value="1" checked="checked" />通过<br />
				<label for="comment">附言:</label>
				<textarea id="comment" name="comment"></textarea>
			</div>
			<div id="nextAudit">
				<label for="auditor" id="auditLabel">下一位审核人</label>
				<select id="auditor" name="auditor">
					<volist name="auditors" id="vo">
						<option value="{$vo['id']}">{$vo['username']}</option>
					</volist>
				</select>
			</div>
			<div id="nextAuditNo">
				<label for="contactno" id="contactNoLabel">审核人电话</label>
				<input type="text" id="contactno" name="contactno">
			</div>
			<input type="hidden" id="artid" name="artid" />
			<input type="hidden" id="audittype" name="audittype" />
			<label>&nbsp;</label><input type="button" id="auditSub" value="提交" />
		</form>
		<div class="close">×</div>
	</div>
	<div id="seeauditDiv" class="popDiv">
		<ul>
		</ul>
		<div class="close">×</div>
	</div>
<include file="Public/footer" />