<include file="Public/header" />
	<div class="rightDiv">
		<div class="title">
			<a href="{$siteInfo['webFolder']}admin/groupAdd">增加会员组</a>
		</div>
		<table>
			<tr>
				<th>会员组编号</th>
				<th>会员组名称</th>
				<th>操作</th>
			</tr>
			<volist name="group" id="vo">
			<tr>
				<td>
					<span>{$vo['id']}</span>
				</td>
				<td>
					<span>{$vo['name']}</span>
				</td>
				<td>
					<a class="delSub" href="javascript: void(0);">删除</a>
					<a href="groupModify?id={$vo['id']}">更改</a>
					<input type="hidden" class="id" value="{$vo['id']}" />
					<div class="c"></div>
				</td>
			</tr>
			</volist>
		</table>
	</div>
<include file="Public/footer" />