<include file="Public/header" />
<div class="rightDiv">
    <br>
    <label for="password">修改密码</label>
    <input type="password" id="password" name="password" />（如果不修改密码，请将此空留空）<br />
    <label for="confirm">确认密码</label>
    <input type="password" id="confirm" name="confirm" /><br />

    <label for="sex">性别</label>
    <select id="sex" name="sex">
        <option value="男" <if condition="$info['sex'] eq '男'">selected</if>>男</option>
        <option value="女" <if condition="$info['sex'] eq '女'">selected</if>>女</option>
    </select>

    <br/>

    <label for="company">工作单位</label>
    <input type="text" id="company" name="company" value="{$info['company']}" /><br />

    <label for="department">部门</label>
    <input type="text" id="department" name="department" value="{$info['department']}" /><br />

    <label for="job">职务</label>
    <input type="text" id="job" name="job" value="{$info['job']}" /><br />

    <label for="email">邮箱</label>
    <input type="text" id="email" name="email" value="{$info['email']}" /><br />

    <label for="contact">联系方式</label>
    <input type="text" id="contact" name="contact" value="{$info['contact']}" /><br />

    <label for="truename">真实姓名</label>
    <input type="text" id="truename" name="truename" value="{$info['truename']}" /><br />

    <label for="type">会员级别</label>
    <select id="type" name="type">
        <volist name="types" id="type">
            <option value="{$type['id']}" <if condition="$type['id'] eq $info['type']">selected</if>>
                {$type['name']}
            </option>
        </volist>
    </select><br />

    <label for="group">所属会员组</label>
    <select id="group" name="group" multiple="multiple">
        <volist name="groups" id="group">
            <option value="{$group['id']}" <?php if(in_array($group['id'], $info['groups'])) echo ' selected';?>>{$group['name']}</option>
        </volist>
    </select><br />
    <input type="hidden" id="username" name="username" value="{$info['username']}" />
    <input type="hidden" id="id" name="id" value="{$info['id']}" />
    <input type="button" class="button" id="modifySub" value="确定" />

</div>
<include file="Public/footer" />