<include file="Public/header" />
	<div class="rightDiv">
		<br>
		<label for="username">用户登录名</label>
		<input type="text" id="username" name="username" value="" /><br />

		<label for="password">用户密码</label>
		<input type="password" id="password" name="password" /><br />

		<label for="confirm">确认密码</label>
		<input type="password" id="confirm" name="confirm" /><br />

		<label for="sex">性别</label>
		<select id="sex" name="sex">
			<option value="男" selected>男</option>
			<option value="女">女</option>
		</select>

		<br/>

		<label for="company">工作单位</label>
		<input type="text" id="company" name="company" value="" /><br />

		<label for="department">部门</label>
		<input type="text" id="department" name="department" value="" /><br />

		<label for="job">职务</label>
		<input type="text" id="job" name="job" value="" /><br />

		<label for="email">邮箱</label>
		<input type="text" id="email" name="email" value="" /><br />

		<label for="contact">联系方式</label>
		<input type="text" id="contact" name="contact" value="" /><br />

		<label for="truename">真实姓名</label>
		<input type="text" id="truename" name="truename" value="" /><br />

		<label for="type">会员级别</label>
		<select id="type" name="type">
			<volist name="types" id="type">
				<option value="{$type['id']}">{$type['name']}</option>
			</volist>
		</select><br />

		<label for="group">所属会员组</label>
		<select id="group" name="group" multiple="multiple">
			<volist name="groups" id="group">
				<option value="{$group['id']}">{$group['name']}</option>
			</volist>
		</select><br />



		<input type="hidden" id="id" name="id" value="" />
		<input type="button" class="button" id="addSub" value="确定" />

	</div>
<include file="Public/footer" />