@charset "utf-8";
.blank7 { height:7px; overflow:hidden;}
.blank3 { height:3px; overflow:hidden;}
.fangchan a { color:#0041d9;}
.fangchan a:hover { color:#f60;}
.fontLight { color:#888;}.fontLight:hover { color:#404040;}

.searchZone,.searchbox .menu li { background:url(../../img/f_indBG.png) no-repeat 0 0;}
.searchbox {height:60px; background-position:0 -528px; color:#53633c; padding:8px 0;}
.searchbox .k { padding:0 10px; text-align:left; line-height:22px;}
.searchbox .searchZone { height:43px; padding-top:10px; width:584px; margin:0 auto; background-position:0 -191px;}
.searchbox .searchZone label,.searchbox .searchZone .left { float:left;}
.searchbox .searchZone input.text { font-size:14px; color:#aaa; border:none; height:23px; padding-top:8px; line-height:16px; width:344px; padding-left:4px; margin:0 0 0 12px; vertical-align:middle; background:none;}
.searchbox .searchZone button { width:115px; height:33px; line-height:33px; font-size:14px; font-weight:bold; color:#fff; background:none; border:none;}

/* select */
.searchbox div.selectbox-wrapper { position:absolute; background-color:white; border:1px solid #b1d099; text-align:left;}
.searchbox div.selectbox-wrapper ul li.selected {}
.searchbox div.selectbox-wrapper ul li.current { background-color:#457e1a; color:#fff;}
.searchbox div.selectbox-wrapper ul li {display:block; margin:0; padding:3px; line-height:20px; cursor:pointer; width:88px; color:#555; font-size:14px;}
.selectbox { font-size:14px; display : block; width:94px; text-align:left; height:22px; padding-top:8px; cursor: pointer; border:none; background:none; color:#83887e; text-indent:.5em; z_index:9999; vertical-align:middle;}

.lp div.selectbox-wrapper { position:absolute; background-color:white; border:1px solid #b1d099; text-align:left;}
.lp div.selectbox-wrapper ul li.selected {}
.lp div.selectbox-wrapper ul li.current { background-color:#457e1a; color:#fff;}
.lp div.selectbox-wrapper ul li { display:block; margin:0; padding:3px; line-height:16px; cursor:pointer; width:104px; color:#555; font-size:12px;}
.lp .selectbox {background-position:89px -21px; margin:0; display:block; width:110px; text-align:left; height:17px; padding-top:5px; cursor: pointer; border:none; background-color:#fff; color:#83887e; text-indent:.5em; z_index:9999; vertical-align:middle; border:1px solid #c6d4be; font-size:12px;}

.small div.selectbox-wrapper { position:absolute; background-color:white; border:1px solid #b1d099; text-align:left;}
.small div.selectbox-wrapper ul li.selected {}
.small div.selectbox-wrapper ul li.current { background-color:#457e1a; color:#fff;}
.small div.selectbox-wrapper ul li { display:block; margin:0; padding:3px; line-height:16px; cursor:pointer; width:84px; color:#555; font-size:12px;}
.small .selectbox { background-position:73px -53px; margin:0; display:block; width:90px; text-align:left; height:14px; line-height:14px; padding-top:3px; cursor: pointer; border:none; background-color:#fff; color:#83887e; text-indent:.5em; z_index:9999; vertical-align:middle; border:1px solid #c6d4be; font-size:12px;}

.gird_jjr_01 .sk .small div.selectbox-wrapper ul li  { width:94px;}
.gird_jjr_01 .sk .small .selectbox { width:100px; background-position:83px -53px;}

